html {
  /* background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/b/b7/Flag_of_Europe.svg/800px-Flag_of_Europe.svg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #003399; */
}

.App {
  text-align: center;
}